/* PersonalWorkout.css */

.personal-workout-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-left: 3cm;
  }
  
  .personal-workout-container h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .personal-workout-container img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .personal-workout-container h2 {
    font-size: 24px;
    color: #6A1B1A;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .personal-workout-container h3 {
    font-size: 24px;
    color: #555;
    margin-top: 20px;
  }
  
  .personal-workout-container p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .MuiTableHead-root th {
    background-color: #6A1B1A;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  .MuiTableCell-root {
    font-size: 18px;
    color: #333;
  }
  
  .MuiTableBody-root tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  .MuiTableBody-root tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  
  .conclusion {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
  }